*{
    margin: 0;
    padding: 0;

}
html,body{
    height: 100%;
    width: 100%;
}


.navbar{
    height: 10%;
   padding-left: 5%;
   padding-top: 10%;
   padding-top:5px;
   display: flex;

}
.img{
    margin-top: 10px;
}
input{
    margin-top: 10px;
    height: 30px;
    width: 400px;
    margin-left: 15px;
}
#Search{
    margin-left: 10px;
margin-top: 20px;
}
.donation{
    margin-left: 500px;
    justify-content: space-between;
    margin-top: 10px
    ;
}
.main-page{
    display: flex;
}
.contents{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-around;
    gap:30px;
    width: 100px;
    margin-left: 70px;
    text-decoration: none;
}
.main{

    height: screen;
    width: 35%;
    gap: 100px;
    margin-left: 100px;

    
}
.main:p{
    gap: 10px;
    text-spacing-trim: 100px;
}
.linus{
    height: 750px;
    width: 250px;
   background-color: #F8F9FA;
    margin-top: 70px;
    border: 2px solid black;
    padding: 40px;
}
.other{
    width: screen;
    height: 300px;
    /* background-color: blue; */
    margin-left: 260px;
    margin-right: 100px;

}
table{
    width: 300px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table{
    margin-top: 20px;
    width: 700px;
  }
  th{
    background-color: #EAECF0;
  }
  td{
    background-color: #F8F9FA;
    gap: 20px;
    text-align: center;
  }
  th:nth-child(3){
   width: 500px;
  }
  th:nth-child(2){
    width: 200px;
  }
  .side{
    height: 500px;
    width: 300px;
    /* background-color: blue; */
    margin-top: 70px;
    margin-left: 20px;
  }
